$titleBlack: rgb(52, 52, 52);
$titleWhite: rgb(255, 255, 255);
$red: #fe504f;
$pLight: rgb(173, 173, 173);
$inputsBorder: rgb(174, 174, 174);
$inputsPlaceholder: rgb(175, 175, 175);

.news-card__infoContainer {
  background-color: $titleBlack;
  position: relative;
  color: white;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 30px 28px 30px 30px;
  box-sizing: border-box;

  hr {
    height: 3px;
    width: 50px;
    background-color: $red;
    border: none;
    margin: 10px 0px 12px;
  }

  &::before {
    content:'';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: $titleBlack;
    transform: rotate(45deg);
  }
}

.news__card_odd, .news__card_even {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 900px;
  height: 300px;

  .news-card__photo {
    width: 600px;
    height: 300px;
  }
}

.news__card_odd .news-card__infoContainer {
    &::before {
      top: 40px;
      left: -12px;
    }
  }

.news__card_even {
  flex-direction: row-reverse;

  .news-card__infoContainer{
    &::before {
      top: 40px;
      right: -12px;
    }
  }
}

.news__card_aside {
  position: absolute;
  right: 200px;
  width: 300px;
  height: 600px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;


  .news-card__infoContainer {
    margin-top: -4px;

    &::before {
      right: 34px;
      top: -12px;
    }
  }

  .news-card__photo {
    width: 300px;
    height: 300px;
  }
}

.news-card__title {
  font-weight: bold;
  color: $red;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  
}
.news-card__text {
  font-size: 12px;
  line-height: 20px;
  margin: 0;
}
.news-card__date {
  position: absolute;
  color: $red;
  margin: 0;
  bottom: 24px;
  right: 30px;
  align-self: flex-end;
  justify-self: flex-end;
  font-size: 12px;
  line-height: 20px;
  font-style: italic;
}