.social__container {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #343434;
  padding: 0px 255px 0px 200px;
}

.social__copyright {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.social__links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.social-links__icon {
  color: #fe504f;
  font-size: 20px;
  padding: 0px 15px;
  border-left: 1px solid #fe504f;
}

.fa-youtube {
  padding-right: 0px;
}

.fa-linkedin {
  border: none;
}

