$titleBlack: rgb(52, 52, 52);
$titleWhite: rgb(255, 255, 255);
$red: #fe504f;
$pLight: rgb(173, 173, 173);
$inputsBorder: rgb(174, 174, 174);
$inputsPlaceholder: rgb(175, 175, 175);

.newsLayout__header {
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0px;
  padding: 0px 200px;
  box-sizing: border-box;
  background: transparent;
}

.newsLayout__img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 644px;
  background-image: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('/img/main/background/mainHeader.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  z-index: 1;
}
.newsLayout__svg {
  left: -2px;
  top: 70px;
  transform: rotate(180deg);
  position: absolute;
}

.newsLayout__footer {
  position: relative;
}