$titleBlack: rgb(52, 52, 52);
$titleWhite: rgb(255, 255, 255);
$red: #fe504f;
$pLight: rgb(173, 173, 173);
$inputsBorder: rgb(174, 174, 174);
$inputsPlaceholder: rgb(175, 175, 175);

.allNews__container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0px;
  z-index: 5;
  @media (max-width: 1250px) {
    padding: 0 30px;
    align-items: center;
  }
  @media (max-width: 450px) {
    padding: 0 5px;
  }
}

.allNews__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0px auto;
}

.allNews__title {
  color: white;
  font-weight: bold;
  font-size: 60px;
  line-height: 74px;
  margin: 0;
  margin-top: 190px;
  padding: 0;
  z-index: 10;
  @media (max-width: 1000px) {
    margin-top: 100px;
  }
}

.allNews__searchContainer {
  margin-top: 75px;
  align-self: flex-end;
  z-index: 10;
  width: 300px;
  padding: 6px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background-color: $titleBlack;
}

.allNews__searchInput {
  width: 238px;
  height: 26px;
  background-color: transparent;
  border: 1px solid $red; 
  padding-left: 10px;
  color: $titleWhite;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  &:hover {
    border-color: $titleWhite;
  }
}

.allNews__searchBtn {
  margin-left: 5px;
  height: 30px;
  width: 42px;
  background: url('img/loupe.svg') $red no-repeat 50% 52.5%;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: #fe7776;
  }
}

.allNews__cardsContainer {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media (max-width: 1000px) {
    flex-direction: column;
    margin: 0 auto;
  }
}

.allNews__showMoreBtn {
  max-width: 370px;
  min-width: 300px;
  width: 100%;
  height: 60px;
  background-color: $titleBlack;
  color: $red;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0px;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 15px black;
    color: $titleWhite;
  }
  @media (max-width: 250px) {
    margin: 0 auto;
  }
}