$titleBlack: rgb(52, 52, 52);
$titleWhite: rgb(255, 255, 255);
$red: #fe504f;
$pLight: rgb(173, 173, 173);
$inputsBorder: rgb(174, 174, 174);
$inputsPlaceholder: rgb(175, 175, 175);

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 55px;
  color: white;
  border: none;
  font-family: inherit;
  font-size: 20px;
  line-height: 74px;
  z-index: 10;
  cursor: pointer;
  &:focus {
    outline: none;
    box-shadow: 0 0 20px white;
    border: 0 0 30px #343434;
  }
}
.btn-main {
  width: 215px;
  height: 65px;
  background: #fe504f;
  &:hover {
    box-shadow: 0px 0px 15px rgb(254, 80, 79);
  }
}
.btn-addit {
  width: 215px;
  height: 65px;
  background: $titleBlack;

  &:hover {
    box-shadow: 0px 0px 15px #343434;
  }
}

.section__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

.services__container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 0 200px;
}

.services__title {
  color: black;
}

.services__text {
  width: 920px;
  text-align: center;
  color: $pLight;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 60px;
}

.services__itemsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  text-align: center;
  margin-bottom: 50px;

  hr {
    background-color: $red;
    height: 4px;
    width: 61px;
    border: none;
    margin-bottom: 15px;
  }
}

.services-item__title {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 24px;
  width: 240px;
  margin-bottom: 0px;
}
.services-item__text {
  width: 240px;
  color: $pLight;
  font-size: 14px;
  line-height: 24px;
}


.contactUs__container {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: conic-gradient(transparent 90deg, rgba(37, 37, 37, 1) 90deg 180deg, transparent 180deg),
                    linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                    url('/img/main/background/mainContactUs.jpg');                                                                                                
  background-repeat: repeat, no-repeat, no-repeat;
  background-position: 0 0;
  background-size: 2px 2px, cover, cover;
}

.contactUs__title {
  text-align: center;
  font-size: 34px;
  line-height: 58px;
  color: $titleWhite;
}




.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 200px 80px;
}
.about__titile{
  color: $titleBlack;
  margin-bottom: 22px;
}
.about__text {
  text-align: center;
  color: $pLight;
  font-size: 16px;
  line-height: 24px;

}

.about__itemsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 70px;
  justify-content: space-between;
}

.about__item {
  hr {
    height: 3px;
    width: 50px;
    background-color: $red;
    border: none;
    margin: 0;
    margin-bottom: 25px;
  }
}

.about__weDo {
  width: 580px;
}

.about-weDo__text {
  color: $titleBlack;
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
}

.about-item__title {
  text-transform: uppercase;
  color: $red;
  font-weight: bold;
  font-size: 20px;
  list-style: 74px;
  margin-bottom: 20px;
}
.about__clients {
  // width: 50%;
  flex-wrap: wrap;
  width: 570px;
}

.about-clients__clientLogo {
  margin-right: 5px;
}

.about__team {
  width: 100%;
}
.about-team__cardsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.about-team__card {
  width: 16.5%;
  height: auto;
  margin: 0;
  cursor: pointer;
  display: block;
  padding: 0;
}
.about-team__photo {
  width: 100%;
  height: auto;
  &:hover {
    box-shadow: inset 0px 0px 5px 5px black;
  }
}

.about-item__photo:nth-child(2) {
  display: none;
}

.about-item__infoContainer {
  width: 100%;
  display: none;
}


.promoVid__container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $titleWhite;

  background-image: conic-gradient(transparent 90deg, rgba(37, 37, 37, 1) 90deg 180deg, transparent 180deg),
                    linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                    url('/img/main/background/mainVid.jpg');                                                                                                
  background-repeat: repeat, no-repeat, no-repeat;
  background-position: 0 0;
  background-size: 2px 2px, cover, cover;
}


.promoVid__btn {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background: url('/img/main/play.svg') $red no-repeat 55% 52.5%;
  margin-top: 90px;
  margin-bottom: 25px;
  &:hover {
    box-shadow: 0px 0px 15px $red;
  }
}

.promoVid__title {
  font-size: 34px;
  line-height: 58px;
  margin: 0px;
  margin-bottom: 10px;
}

.promoVid__text {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  width: 1020px;
}


.news__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 80px;
}

.news__title {
  color: $titleBlack;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.news__text {
  color: $pLight;
  font-size: 16px;
  line-height: 24px;
  width: 1080px;
  margin-bottom: 70px;
}

.news__cardsContainer {
  width: 100%;
  padding: 0px 200px;
  box-sizing: border-box;
  position: relative;
}

.contactInfo__container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 816px;
  padding: 95px 255px 0px 200px;
  box-sizing: border-box;
  background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('/img/main/background/contactForm.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  .logo {
    color: #fe504f;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.04em;
    margin: 0px;
  }

  hr {
    width: 51px;
    height: 3px;
    background-color: $red;
    border: none;
    margin: 0;
  }
}

.contactInfo__infoContainer {
  hr {
    margin: 25px 0 40px;
  }
}

.contactInfo__itemsContainer {
  display: flex;
  flex-direction: column;
}

.contactInfo__text {
  width: 500px;
  font-size: 14px;
  line-height: 20px;
  color: $titleWhite;
  margin: 33px 0px 0px;
}

.contactInfo-item__content {
  display: flex;
  position: relative;
  color: $titleWhite;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  margin-left: 45px;
  height: 30px;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;

  &::before {
    content: '';
    position: absolute;
    
    left: -45px;
    width: 30px;
    height: 30px;
    border: 1px solid $red;
    align-self: center;
  }
}

.contactInfo-address__content{
  &::before {
    background: url('/img/main/placeholder.svg') no-repeat 55% 52.5%;
    background-size: 20px;
  }
}

.contactInfo-phone__content {
  &::before {
    background: url('/img/main/phone-receiver-silhouette.svg') no-repeat 55% 52.5%;
    background-size: 20px;
  }
}

.contactInfo-email__content {
  &::before {
    background: url('/img/main/email.svg') no-repeat 55% 52.5%;
    background-size: 20px;
  }
}

.contactInfo__form {
  display: flex;
  flex-direction: column;
  margin-left: 200px;

  hr {
    margin-top: 10px;
    margin-bottom: 18px;
    }
}

.contactInfo-form__title {
  margin: 0;
  text-transform: uppercase;
  color: $red;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.contactInfo-form__text {
  color: $titleWhite;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 37px;
}

.contactInfo-form__input {
  width: 445px;
  height: 45px;
  background-color: transparent;
  border: 1px solid $inputsBorder;
  margin-bottom: 15px;
  padding-left: 18px;
  box-sizing: border-box;
  color: $titleWhite;
  font-size: 14px;

  &:hover, &:active {
    border-color: $titleWhite;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 10px white;
    border: 0 0 30px $titleWhite;
  }

  &::placeholder {
    color: $inputsPlaceholder;
    font-size: 14px;
    line-height: 74px;
  }
}

.contactInfo-form__message {
  resize: none;
  height: 190px;
  margin-bottom: 40px;
  padding-top: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  &::placeholder {
    margin: 0;
    line-height: 14px;
  }
}

.contactInfo-form__btn {
  width: 130px;
  height: 40px;
  font-size: 16px;
  line-height: 74px;
  align-self: flex-end;
}