$titleBlack: rgb(52, 52, 52);
$titleWhite: rgb(255, 255, 255);
$red: rgb(254, 80, 79);
$pLight: rgb(173, 173, 173);
$inputsBorder: rgb(174, 174, 174);
$inputsPlaceholder: rgb(175, 175, 175);

$maxWidth: 1600;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 55px;
  color: white;
  border: none;
  font-family: inherit;
  font-size: 20px;
  line-height: 74px;
  z-index: 10;
  cursor: pointer;
}
.btn-main {
  width: 215px;
  height: 65px;
  background: #fe504f;
  &:hover {
    box-shadow: 0px 0px 15px rgb(254, 80, 79);
  }
  @media (max-width: 500px) {
    margin-bottom: 20px;;
  }
}
.btn-addit {
  width: 215px;
  height: 65px;
  background: $titleBlack;

  &:hover {
    box-shadow: 0px 0px 15px #343434;
  }
}

.section__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

.services__container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 0 12.5%;
  @media (max-width: 1598px) {
    padding: 0 5%;
  }
}

.services__title {
  color: black;
}

.services__text {
  width: 57.5%;
  text-align: center;
  color: $pLight;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 60px;
}

.services__itemsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 1100px){
    justify-content: space-evenly;
  }
}

.services__item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  text-align: center;
  margin-bottom: 50px;

  hr {
    background-color: $red;
    height: 4px;
    width: 61px;
    border: none;
    margin-bottom: 15px;
  }

  @media (max-width: 1100px) {
    width: 50%;
  }
  @media (max-width: 525px) {
    width: 100%;
  }
}

.services-item__title {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 24px;
  width: 240px;
  margin-bottom: 0px;
}
.services-item__text {
  width: 240px;
  color: $pLight;
  font-size: 14px;
  line-height: 24px;
}


.contactUs__container {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: conic-gradient(transparent 90deg, rgba(37, 37, 37, 1) 90deg 180deg, transparent 180deg),
                    linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                    url('/img/main/background/mainContactUs.jpg');                                                                                                
  background-repeat: repeat, no-repeat, no-repeat;
  background-position: 0 0;
  background-size: 2px 2px, cover, cover;
}

.contactUs__title {
  text-align: center;
  font-size: 34px;
  line-height: 58px;
  color: $titleWhite;
  @include adaptiv-font(34, 22);
  @media (max-width: 1000px) {
    br {
      display: none;
    }
  }
  @media (max-width: 750px) {
    line-height: 35px;
  }
}




.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 12.5% 80px;
  @media (max-width: 1598px) {
    padding: 80px 5% 80px;
  }
  @media (max-width: 750px) {
    text-align: center;
  }
}
.about__title{
  color: $titleBlack;
  margin-bottom: 22px;
}
.about__text {
  text-align: center;
  color: $pLight;
  font-size: 16px;
  line-height: 24px;
}

.about__itemsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 70px;
  justify-content: space-between;

  @media (max-width: 1334px) {
    flex-direction: column;
    align-items: center;
  }
}

.about__item {
  hr {
    height: 3px;
    width: 50px;
    background-color: $red;
    border: none;
    margin: 0;
    margin-bottom: 25px;
  }
  @media (max-width: 750px) {
    hr {
      margin-left: auto;
      margin-right: auto;
    }
    margin-bottom: 20px;
    
  }
}

.about__weDo {
  // width: 50%;
  @media (max-width: 1334px) {
    width: 100%;
  }
}

.about-weDo__text {
  color: $titleBlack;
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
  max-width: 580px;

  @media (max-width: 1334px) {
    max-width: none;
    width: 100%;
  }
}




.about-item__title {
  text-transform: uppercase;
  color: $red;
  font-weight: bold;
  font-size: 20px;
  list-style: 74px;
  margin-bottom: 20px;
}
.about__clients {
  flex-wrap: wrap;
  @media (max-width: 1334px) {
    width: 100%;
  }
}

.about-clients__clientList {
  max-width: 570px;
  @media (max-width: 1570px) {
    margin: 0px auto;
  }
}



.about__team {
  width: 100%;
}
.about-team__cardsContainer {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  @media (max-width: 1334px) {
    max-width: 800px;
    margin: 0px auto;
    justify-content: center;
  }
}


.promoVid__container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $titleWhite;

  background-image: conic-gradient(transparent 90deg, rgba(37, 37, 37, 1) 90deg 180deg, transparent 180deg),
                    linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                    url('/img/main/background/mainVid.jpg');                                                                                                
  background-repeat: repeat, no-repeat, no-repeat;
  background-position: 0 0;
  background-size: 2px 2px, cover, cover;
  @media (max-width: 1400px) {
    justify-content: center;
  }
  @media (max-width: 345px) {
    height: auto;
    padding: 10px 0px;
  }
}


.promoVid__btn {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background: url('/img/main/play.svg') $red no-repeat 55% 52.5%;
  margin-top: 90px;
  margin-bottom: 25px;
  &:hover {
    box-shadow: 0px 0px 15px $red;
  }
  @media (max-width: 1400px) {
    margin-top: 0px;
  }
  @media (max-width: 345px) {
    margin-top: 5px;
    // width: 75px;
    // height: 75px;
  }
}

.promoVid__title {
  font-size: 34px;
  line-height: 58px;
  margin: 0px;
  margin-bottom: 10px;
  @include adaptiv-font(34, 22);
  @media (max-width: 750px) {
    line-height: 35px;
  }
}

.promoVid__text {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  width: 63.75%;
  @media (max-width: 1000px) {
    width: 90%;
  }

}


.news__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 80px;
}

.news__title {
  color: $titleBlack;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.news__text {
  color: $pLight;
  font-size: 16px;
  line-height: 24px;
  width: 67.5%;
  margin-bottom: 70px;
}

.news__cardsContainer {
  // width: 100%;
  padding: 0px 12.5%;
  margin: 0px auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;
  @media (max-width: 1598px) {
    padding: 0px 5%;
  }
  @media (max-width: 999px) {
    flex-direction: column;
  }
}

.contactInfo__container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 816px;
  padding: 95px 15.9375% 0px 12.5%;
  box-sizing: border-box;
  background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('/img/main/background/contactForm.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  .logo {
    color: #fe504f;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.04em;
    margin: 0px;
  }

  hr {
    width: 51px;
    height: 3px;
    background-color: $red;
    border: none;
    margin: 0;
  }

  @media (max-width: 1598px) {
    padding: 95px 5% 0px 6.5%;
  }

  @media (max-width: 1100px) {
    height: auto;
    flex-direction: column;
    padding: 95px 5% 120px 5%;
    align-items: center;
  }
}

.contactInfo__infoContainer {
  width: 50%;
  hr {
    margin: 25px 0 40px;
  }
  @media (max-width: 1100px) {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    hr {
      margin: 25px auto 40px auto;
    }
  }
}

.contactInfo__itemsContainer {
  display: flex;
  flex-direction: column;
  @media (max-width: 1100px) {
    align-items: center;
  }
}

.contactInfo__text {
  max-width: 500px;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: $titleWhite;
  margin: 33px 0px 0px;
  @media (max-width: 1100px) {
    max-width: 100%;
  }
}

.contactInfo-item__content {
  display: flex;
  position: relative;
  color: $titleWhite;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  margin-left: 45px;
  height: 30px;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;

  &::before {
    content: '';
    position: absolute;
    
    left: -45px;
    width: 30px;
    height: 30px;
    border: 1px solid $red;
    align-self: center;
  }
}

.contactInfo-address__content{
  &::before {
    background: url('/img/main/placeholder.svg') no-repeat 55% 52.5%;
    background-size: 20px;
  }
}

.contactInfo-phone__content {
  &::before {
    background: url('/img/main/phone-receiver-silhouette.svg') no-repeat 55% 52.5%;
    background-size: 20px;
  }
}

.contactInfo-email__content {
  &::before {
    background: url('/img/main/email.svg') no-repeat 55% 52.5%;
    background-size: 20px;
  }
}

.contactInfo__formContainer {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
}

.contactInfo__form {
  display: flex;
  flex-direction: column;
  max-width: 445px;
  min-width: 300px;
  width: 445px;

  hr {
    margin-top: 10px;
    margin-bottom: 18px;
    }

  @media (max-width: 1100px) {
    margin-bottom: 20px;
    text-align: center;
    hr {
      margin: 25px auto 40px auto;
    }
  }
  @media (max-width: 526px) {
    width: 100%;
  }
}

.contactInfo-form__title {
  margin: 0;
  text-transform: uppercase;
  color: $red;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.contactInfo-form__text {
  color: $titleWhite;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 37px;
}

.contactInfo-form__input {
  max-width: 445px;
  min-width: 300px;
  width: 100%;
  height: 45px;
  background-color: transparent;
  border: 1px solid $inputsBorder;
  margin-bottom: 15px;
  padding-left: 18px;
  box-sizing: border-box;
  color: $titleWhite;
  font-size: 14px;

  &:hover, &:active {
    border-color: $titleWhite;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 10px white;
    border: 0 0 30px $titleWhite;
  }

  &::placeholder {
    color: $inputsPlaceholder;
    font-size: 14px;
    line-height: 74px;
  }
}

.contactInfo-form__message {
  resize: none;
  height: 190px;
  margin-bottom: 40px;
  padding-top: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  &::placeholder {
    margin: 0;
    line-height: 14px;
  }
}

.contactInfo-form__btn {
  width: 130px;
  height: 40px;
  font-size: 16px;
  line-height: 74px;
  align-self: flex-end;
  @media (max-width: 1100px) {
    align-self: center;
  }
}