$titleBlack: rgb(52, 52, 52);
$titleWhite: rgb(255, 255, 255);
$red: rgb(254, 80, 79);
$buttonTextRed: rgb(253, 96, 65);
$pLight: rgb(173, 173, 173);
$inputsBorder: rgb(174, 174, 174);
$inputsPlaceholder: rgb(175, 175, 175);

$maxWidth: 1600;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.newsArticle__container {
  width: 100%;
  max-width: 1600px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0px auto;
  margin-top: 200px;
  z-index: 20;
  padding: 0px 12.5%;
  @media (max-width: 1250px) {
    padding: 0px 3%;
    margin-top: 100px;
  }
}

.article__header {
  width: 1200px;
  height: 500px;
  position: relative;
  @media (max-width: 1250px) {
    width: 100%;
  }
}

.article__image {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  display: block;
  min-width: 275px;
  object-fit: cover;
}

.article-header__titleContainer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: $titleBlack;
  padding: 29px;
  width: 490px;
  height: 120px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  hr {
    margin: 0;
    margin-top: 9px;
    width: 50px;
    height: 3px;
    background-color: $red;
    border: none;
  }
  
  @media (max-width: 570px) {
    width: 91.5%;
    padding: 5%;
  }
}

.article__title {
  color: $red;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  @include adaptiv-font(20, 16);
  @media (max-width: 570px) {
    line-height: 20px;
  }
}

.article__textContainer {
  @media (max-width: 500px) {
    width: 90%;
  }
}

.article__commentSection {
  width: 100%;
  max-width: 1100px;
  margin: 0px auto;
  box-sizing: border-box;
  hr {
    margin: -1px 0 0;
    padding: 0;
    border: none;
    height: 1px;
    width: 100%;
    background-color: rgb(240, 242, 246);
  }
  @media (min-width: 1999px) {
    min-width: 1100px;
  }
  @media (min-width: 1601px) {
    justify-content: space-between;
  }
  @media (max-width: 1250px) {
    width: 90%;
    margin: 0px auto;
  }
}

.article__commentList {
  list-style-type: none;
  padding: 0;
}

.article__textContainer {
  padding: 50px;
  @media (min-width: 1999px) {
    min-width: 1100px;
  }
}

.article__text {
  font-size: 14px;
  line-height: 26px;
  color: $titleBlack;
  margin: 0;
  padding: 0;
  @media (min-width: 1601px) {
    font-size: 18px;
  }
}

.article__textHeader {
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  color: $titleBlack;
  margin: 35px 0px 25px;
  padding: 0;
  @media (min-width: 1601px) {
    font-size: 22px;
    line-height: 30px;
  }
}
.article__commentsCounter {
  font-size: 18px;
  display: inline-block;
  line-height: 17px;
  text-transform: capitalize;
  border-bottom: 3px solid $red;
  padding-bottom: 5px;
  box-sizing: border-box;
  margin: 0;
}

.article__addCommentArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px auto 25px auto;
  @media (min-width: 1601px) {
    justify-content: space-between;
  }
  @media (max-width: 450px) {
    flex-direction: column;
  }
}

.article__commentsTextarea {
  width: 923px;
  height: 40px;
  border: 2px solid $inputsBorder;
  font-size: 18px;
  color: $titleBlack;
  line-height: 17px;
  resize: none;
  overflow: auto;
  padding: 8px 0px 8px 15px;
  box-sizing: border-box;
  &:placeholder {
    color: $inputsBorder;
  }
  @media (min-width: 1601px) {
    width: 100%;
  }
  @media (max-width: 810px) {
    max-width: 630px;
    width: 100%;
    min-width: 280px;
  }
}

.article__submitCommentBtn {
  height: 40px;
  width: 143px;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  background-color: $titleBlack;
  color: $buttonTextRed;
  text-transform: uppercase;
  border: none;
  font-size: 12px;
  line-height: 17px;
  @media (max-width: 810px) {
    margin-left: 7px;
  }
  @media (max-width: 450px) {
    margin: 0px auto;
    margin-top: 7px;
  }
}

.article__commentsContainer {
  margin-bottom: 60px;
}